.DiceWrapper {
  text-align: center;
  cursor: pointer;
}

.DiceWrapper div div {
  padding: 0.2rem;
}

.DiceWrapper .DiceResults {
  max-height: 30rem;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.DiceWrapper .DiceResults p {
  padding: 0.25rem;
  border: 1px solid black;
  margin-bottom: 0.25rem;
  border-radius: 5px;
}

.Grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  gap: 0.1rem;
}

.Options div:hover {
  background: rgba(60, 60, 60, 100);
}

.Active {
  background: purple !important;
}

.Dice:hover :nth-child(1) {
  background: wheat;
  color: black;
}

.Dice div:hover {
  background: wheat;
  color: black;
}
