.ChatWrapper {
    padding: .5rem;
    border-radius: 5px;
    border: 1px solid wheat;
    width: 50rem;
}

.ChatWrapper .Chathistory {
    font-size: 1em;
    max-height: 20rem;
    overflow-y: scroll;
}
.ChatWrapper .Chathistory p{
    margin: 0;
}

.ChatWrapper input {
    width: 80%;
}

.ChatWrapper button {
    border: none;
    width: 5rem;
    height: 2rem;
    background: #322834;
    color: #E8E8E8;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
}