.ChatWrapper {
  border-radius: 5px;
  border: 1px solid wheat;
}

.ChatWrapper .Chathistory {
  height: 30rem;
  overflow-y: auto;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 1rem;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #322834;
}

::-webkit-scrollbar-thumb {
  background: #e8e8e8;
}

.ChatWrapper .Controls {
  padding: .2rem;
  height: 1.5rem;
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: .5rem;
}

.ChatWrapper .Controls input {
  border-radius: 5px;
  border: none;
  padding: 0 .5rem;
}

.ChatWrapper .Controls button {
  background: #322834;
  color: #e8e8e8;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}
