.DiceWrapper {
    text-align: center;
}

.DiceWrapper div {
    padding: .2rem;
}

.Grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}

.Active {
    background: blue;
}

.Dice:hover :nth-child(1) {
    background: wheat;
    color: black;
}

.Dice div:hover {
    background: wheat;
    color: black;
    cursor: pointer;
}

.Options div:hover{
    background: rgba(60 ,60,60,100);
}