.tabletopWrapper {
  width: 100%;
}

.btn_round {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: none;
  background: blue;
  margin: 0 0.2rem;
  z-index: 100;
}

.btn_round.active {
  background: purple;
}

.btn_round:hover {
  background: purple;
}

.sketchContainer {
  position: relative;
  margin: 0.2rem;
  border: 0.2rem solid white;
  height: 40rem;
  overflow: hidden;
  z-index: 0;
}

.cursorDefault {
  cursor: default;
}

.cursorMove {
  cursor: move;
}

.ImageSelector {
  height: 3rem;
}

.ImageSelector img {
  height: 100%;
}
