.tabletopWrapper {
  width: 100%;
}

.btn_round {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: none;
  background: blue;
  margin: 0 0.2rem;
  z-index: 100;
}

.btn_round.active {
  background: purple;
}

.btn_round:hover {
  background: purple;
}

.sketchContainer {
  position: relative;
  border: 0.05rem solid wheat;
  border-radius: 5px;
  height: 40rem;
  overflow: hidden;
  z-index: 0;
}

.cursorDefault {
  cursor: default;
}

.cursorMove {
  cursor: move;
}

.ImageSelector {
  height: 3rem;
}

.ImageSelector img {
  height: 100%;
}

.ColorSelectorWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ColorSelectorWrapper .Inputs {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.ColorSelectorWrapper .Inputs p {
  margin-bottom: .5rem;
}

.ColorSelectorWrapper .ColorPreview {
  width: 100%;
  height: 100%;
}
